#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1881px 1675px #fff, 1772px 99px #fff, 643px 584px #fff,
    451px 120px #fff, 1603px 970px #fff, 607px 193px #fff, 1657px 1273px #fff,
    5px 1749px #fff, 590px 61px #fff, 865px 591px #fff, 393px 791px #fff,
    796px 138px #fff, 1399px 1614px #fff, 992px 1386px #fff, 133px 894px #fff,
    541px 1703px #fff, 238px 1797px #fff, 116px 1542px #fff, 1091px 1624px #fff,
    1343px 1324px #fff, 1689px 634px #fff, 24px 1975px #fff, 1074px 1141px #fff,
    1316px 1719px #fff, 541px 529px #fff, 1640px 244px #fff, 1934px 1449px #fff,
    89px 1674px #fff, 1519px 635px #fff, 1030px 183px #fff, 753px 524px #fff,
    1304px 1616px #fff, 1836px 1025px #fff, 1952px 1180px #fff,
    1749px 1112px #fff, 471px 286px #fff, 1518px 432px #fff, 12px 250px #fff,
    855px 1092px #fff, 854px 1182px #fff, 920px 1342px #fff, 783px 1050px #fff,
    631px 1736px #fff, 1047px 418px #fff, 1905px 18px #fff, 988px 997px #fff,
    508px 1213px #fff, 1395px 824px #fff, 728px 236px #fff, 142px 148px #fff,
    1596px 1504px #fff, 1103px 475px #fff, 1928px 1376px #fff, 137px 27px #fff,
    1897px 292px #fff, 34px 1949px #fff, 1707px 952px #fff, 1090px 81px #fff,
    1316px 1725px #fff, 516px 1776px #fff, 896px 1740px #fff, 413px 1697px #fff,
    555px 1801px #fff, 152px 574px #fff, 717px 1681px #fff, 1984px 1885px #fff,
    1674px 154px #fff, 368px 1978px #fff, 1270px 204px #fff, 629px 998px #fff,
    1651px 1391px #fff, 1386px 949px #fff, 70px 1240px #fff, 1950px 971px #fff,
    783px 76px #fff, 507px 123px #fff, 1317px 668px #fff, 1328px 362px #fff,
    2000px 1861px #fff, 104px 251px #fff, 1910px 1473px #fff, 457px 74px #fff,
    1529px 239px #fff, 1053px 1623px #fff, 1963px 759px #fff, 1657px 1217px #fff,
    1843px 554px #fff, 1895px 2px #fff, 1648px 307px #fff, 1295px 404px #fff,
    1443px 228px #fff, 776px 1688px #fff, 1249px 1511px #fff, 774px 345px #fff,
    1261px 1439px #fff, 263px 1354px #fff, 1527px 1566px #fff, 1237px 842px #fff,
    1492px 664px #fff, 1399px 1401px #fff, 1978px 1124px #fff, 1103px 908px #fff,
    1066px 1353px #fff, 1000px 1119px #fff, 933px 54px #fff, 1005px 1327px #fff,
    908px 1088px #fff, 517px 1626px #fff, 690px 981px #fff, 1239px 1128px #fff,
    1849px 72px #fff, 257px 1905px #fff, 309px 1079px #fff, 307px 414px #fff,
    544px 1590px #fff, 1637px 1672px #fff, 1394px 699px #fff, 1725px 236px #fff,
    394px 997px #fff, 892px 1293px #fff, 1802px 1135px #fff, 119px 335px #fff,
    543px 1982px #fff, 1541px 1093px #fff, 1061px 714px #fff, 173px 1469px #fff,
    1588px 899px #fff, 344px 1742px #fff, 1498px 1014px #fff, 919px 989px #fff,
    297px 1367px #fff, 1780px 732px #fff, 383px 1299px #fff, 1937px 722px #fff,
    95px 559px #fff, 677px 335px #fff, 1510px 756px #fff, 99px 367px #fff,
    1331px 465px #fff, 256px 177px #fff, 352px 333px #fff, 273px 1791px #fff,
    1498px 630px #fff, 523px 1981px #fff, 438px 1644px #fff, 947px 1080px #fff,
    1064px 1221px #fff, 980px 326px #fff, 1587px 1168px #fff, 1843px 88px #fff,
    1121px 960px #fff, 900px 1101px #fff, 1398px 690px #fff, 985px 284px #fff,
    1851px 1732px #fff, 872px 1904px #fff, 133px 387px #fff, 1849px 1568px #fff,
    1609px 1543px #fff, 604px 448px #fff, 1851px 1637px #fff, 1976px 421px #fff,
    883px 1705px #fff, 359px 303px #fff, 87px 1374px #fff, 108px 499px #fff,
    1023px 1286px #fff, 198px 928px #fff, 1775px 625px #fff, 1861px 933px #fff,
    1196px 33px #fff, 1628px 1322px #fff, 904px 567px #fff, 1218px 1310px #fff,
    448px 781px #fff, 1228px 4px #fff, 788px 677px #fff, 1692px 1378px #fff,
    1639px 60px #fff, 1354px 1596px #fff, 502px 642px #fff, 1554px 106px #fff,
    376px 962px #fff, 1374px 1555px #fff, 1313px 478px #fff, 202px 1166px #fff,
    1606px 1173px #fff, 747px 655px #fff, 85px 1879px #fff, 33px 794px #fff,
    37px 1100px #fff, 1434px 1069px #fff, 108px 900px #fff, 1551px 549px #fff,
    1120px 573px #fff, 352px 1205px #fff, 835px 892px #fff, 1963px 1581px #fff,
    1769px 958px #fff, 231px 1667px #fff, 820px 743px #fff, 1686px 1601px #fff,
    260px 760px #fff, 1842px 1797px #fff, 715px 602px #fff, 1206px 51px #fff,
    1712px 970px #fff, 761px 1848px #fff, 1665px 1418px #fff, 1588px 609px #fff,
    891px 326px #fff, 554px 1242px #fff, 772px 1496px #fff, 1657px 1876px #fff,
    244px 1267px #fff, 1493px 1287px #fff, 1377px 1984px #fff, 931px 1413px #fff,
    754px 932px #fff, 145px 1608px #fff, 17px 171px #fff, 842px 393px #fff,
    722px 1819px #fff, 1535px 1387px #fff, 1902px 1347px #fff, 183px 1285px #fff,
    852px 1611px #fff, 1571px 1673px #fff, 1807px 503px #fff, 1257px 1350px #fff,
    1666px 561px #fff, 1128px 442px #fff, 824px 1733px #fff, 879px 536px #fff,
    320px 794px #fff, 55px 1548px #fff, 1592px 1672px #fff, 290px 820px #fff,
    1941px 1185px #fff, 1807px 745px #fff, 1137px 853px #fff, 1079px 700px #fff,
    484px 1173px #fff, 1975px 1751px #fff, 1347px 237px #fff, 1934px 389px #fff,
    1295px 1801px #fff, 1442px 654px #fff, 521px 1461px #fff, 466px 1596px #fff,
    772px 1758px #fff, 1267px 1613px #fff, 550px 1501px #fff, 41px 1732px #fff,
    21px 1893px #fff, 619px 7px #fff, 532px 1800px #fff, 1946px 1910px #fff,
    598px 319px #fff, 1346px 839px #fff, 241px 618px #fff, 94px 127px #fff,
    440px 250px #fff, 600px 1880px #fff, 630px 526px #fff, 1269px 1825px #fff,
    1749px 1847px #fff, 1997px 1928px #fff, 1103px 1759px #fff,
    1351px 1180px #fff, 608px 1814px #fff, 1900px 446px #fff, 1163px 1839px #fff,
    1864px 1086px #fff, 60px 292px #fff, 1893px 1618px #fff, 819px 876px #fff,
    1206px 64px #fff, 692px 1723px #fff, 1487px 375px #fff, 795px 1790px #fff,
    1100px 1576px #fff, 46px 1914px #fff, 812px 859px #fff, 1793px 537px #fff,
    307px 1720px #fff, 28px 1472px #fff, 454px 195px #fff, 1497px 1472px #fff,
    867px 257px #fff, 1852px 413px #fff, 788px 275px #fff, 392px 215px #fff,
    1000px 406px #fff, 835px 519px #fff, 1732px 96px #fff, 1706px 1223px #fff,
    1221px 985px #fff, 674px 847px #fff, 1777px 156px #fff, 1621px 577px #fff,
    208px 995px #fff, 1021px 328px #fff, 1921px 278px #fff, 519px 369px #fff,
    212px 656px #fff, 1877px 1217px #fff, 1728px 987px #fff, 1498px 1054px #fff,
    1898px 153px #fff, 1814px 1004px #fff, 172px 1948px #fff, 189px 934px #fff,
    1086px 999px #fff, 1192px 1888px #fff, 1348px 1450px #fff, 781px 1166px #fff,
    1567px 1201px #fff, 1586px 1388px #fff, 910px 345px #fff, 756px 567px #fff,
    734px 1668px #fff, 418px 954px #fff, 1511px 213px #fff, 1432px 901px #fff,
    1229px 1094px #fff, 1529px 1454px #fff, 788px 383px #fff, 1430px 465px #fff,
    1565px 58px #fff, 1125px 77px #fff, 151px 1966px #fff, 28px 1739px #fff,
    1357px 1030px #fff, 1720px 1652px #fff, 650px 977px #fff, 1972px 1496px #fff,
    1495px 1987px #fff, 215px 50px #fff, 1251px 108px #fff, 1713px 1652px #fff,
    1211px 1254px #fff, 1971px 372px #fff, 1516px 471px #fff, 774px 1064px #fff,
    1713px 379px #fff, 659px 1283px #fff, 1800px 899px #fff, 601px 666px #fff,
    1470px 738px #fff, 938px 1315px #fff, 1658px 794px #fff, 1837px 1687px #fff,
    20px 712px #fff, 1310px 1064px #fff, 809px 1889px #fff, 1022px 127px #fff,
    251px 936px #fff, 900px 533px #fff, 1279px 1709px #fff, 540px 1955px #fff,
    1822px 1481px #fff, 1694px 323px #fff, 292px 120px #fff, 1089px 1186px #fff,
    1860px 1137px #fff, 1644px 890px #fff, 534px 1473px #fff, 979px 1603px #fff,
    1791px 1768px #fff, 403px 1298px #fff, 1698px 441px #fff, 701px 1876px #fff,
    881px 1914px #fff, 990px 1423px #fff, 1416px 1143px #fff, 999px 1053px #fff,
    1770px 386px #fff, 1240px 1618px #fff, 1676px 1876px #fff,
    1778px 2000px #fff, 902px 1389px #fff, 558px 696px #fff, 1328px 233px #fff,
    83px 1254px #fff, 1704px 1375px #fff, 753px 1048px #fff, 690px 458px #fff,
    1396px 1740px #fff, 764px 1593px #fff, 1662px 1825px #fff,
    1818px 1694px #fff, 643px 609px #fff, 956px 1511px #fff, 370px 1605px #fff,
    792px 154px #fff, 836px 1228px #fff, 820px 1351px #fff, 631px 1564px #fff,
    895px 181px #fff, 954px 928px #fff, 960px 1922px #fff, 988px 1709px #fff,
    1154px 849px #fff, 1097px 111px #fff, 1826px 242px #fff, 1897px 39px #fff,
    1164px 1380px #fff, 1332px 1772px #fff, 243px 996px #fff, 1410px 524px #fff,
    1597px 1016px #fff, 882px 541px #fff, 34px 1539px #fff, 236px 1386px #fff,
    1390px 1984px #fff, 1238px 1453px #fff, 1049px 930px #fff, 1083px 2px #fff,
    1066px 1367px #fff, 556px 875px #fff, 891px 389px #fff, 1084px 1554px #fff,
    893px 1676px #fff, 175px 540px #fff, 1699px 1464px #fff, 675px 416px #fff,
    7px 1066px #fff, 708px 374px #fff, 1288px 1723px #fff, 22px 1642px #fff,
    1095px 639px #fff, 694px 416px #fff, 559px 666px #fff, 1484px 1393px #fff,
    1974px 1514px #fff, 650px 1335px #fff, 1811px 142px #fff, 1350px 843px #fff,
    1819px 312px #fff, 891px 100px #fff, 642px 1387px #fff, 459px 50px #fff,
    1759px 693px #fff, 1006px 1311px #fff, 394px 32px #fff, 98px 1878px #fff,
    1740px 1804px #fff, 69px 673px #fff, 415px 1338px #fff, 23px 598px #fff,
    1873px 794px #fff, 109px 176px #fff, 890px 395px #fff, 1627px 1078px #fff,
    592px 890px #fff, 825px 1624px #fff, 1478px 449px #fff, 1787px 1380px #fff,
    682px 1397px #fff, 18px 543px #fff, 1047px 853px #fff, 1364px 1043px #fff,
    291px 1112px #fff, 269px 1211px #fff, 1604px 1705px #fff, 1869px 723px #fff,
    666px 427px #fff, 318px 586px #fff, 215px 1480px #fff, 981px 556px #fff,
    648px 1338px #fff, 1463px 247px #fff, 909px 418px #fff, 469px 1486px #fff,
    1023px 935px #fff, 1628px 903px #fff, 456px 121px #fff, 1897px 883px #fff,
    828px 573px #fff, 1407px 1932px #fff, 1284px 1347px #fff, 38px 330px #fff,
    1979px 1916px #fff, 1311px 178px #fff, 1023px 1752px #fff,
    1234px 1105px #fff, 723px 1930px #fff, 210px 1703px #fff, 430px 842px #fff,
    540px 1634px #fff, 1593px 666px #fff, 1292px 1494px #fff, 292px 1225px #fff,
    326px 1587px #fff, 615px 426px #fff, 130px 1633px #fff, 1378px 1821px #fff,
    1460px 1169px #fff, 1292px 651px #fff, 188px 243px #fff, 1519px 856px #fff,
    758px 1344px #fff, 919px 1527px #fff, 1095px 1655px #fff, 310px 607px #fff,
    362px 1739px #fff, 1178px 79px #fff, 940px 677px #fff, 1414px 1925px #fff,
    1644px 1573px #fff, 1662px 1243px #fff, 339px 1981px #fff, 1961px 73px #fff,
    1500px 1915px #fff, 1117px 1596px #fff, 1401px 198px #fff, 731px 1977px #fff,
    1097px 1979px #fff, 817px 671px #fff, 1005px 264px #fff, 1080px 761px #fff,
    1050px 836px #fff, 1918px 508px #fff, 1737px 680px #fff, 560px 1356px #fff,
    1471px 223px #fff, 1297px 430px #fff, 974px 753px #fff, 246px 594px #fff,
    1069px 935px #fff, 1275px 1128px #fff, 1803px 18px #fff, 661px 1831px #fff,
    1663px 493px #fff, 1976px 1832px #fff, 1851px 1721px #fff, 77px 1286px #fff,
    1374px 483px #fff, 1108px 1618px #fff, 1225px 1719px #fff, 1573px 804px #fff,
    995px 299px #fff, 1962px 809px #fff, 1861px 419px #fff, 1704px 604px #fff,
    1000px 1538px #fff, 714px 258px #fff, 291px 1555px #fff, 1854px 1839px #fff,
    94px 1949px #fff, 1864px 913px #fff, 240px 791px #fff, 895px 588px #fff,
    1707px 471px #fff, 1783px 1036px #fff, 781px 1032px #fff, 509px 1166px #fff,
    1206px 440px #fff, 1309px 1501px #fff, 1400px 348px #fff, 319px 1950px #fff,
    371px 1449px #fff, 1851px 1274px #fff, 969px 1055px #fff, 82px 1390px #fff,
    826px 1980px #fff, 610px 570px #fff, 1537px 1292px #fff, 973px 1807px #fff,
    1895px 990px #fff, 1943px 1784px #fff, 1119px 458px #fff, 501px 1415px #fff,
    1244px 1349px #fff, 1499px 524px #fff, 1974px 1103px #fff, 169px 613px #fff,
    1572px 1925px #fff, 591px 1209px #fff, 820px 908px #fff, 214px 543px #fff,
    358px 63px #fff, 749px 1411px #fff, 1279px 495px #fff, 771px 293px #fff,
    870px 1964px #fff, 1719px 1929px #fff, 1468px 1104px #fff, 123px 1210px #fff,
    633px 429px #fff, 284px 715px #fff, 909px 740px #fff, 1932px 374px #fff,
    507px 537px #fff, 1211px 70px #fff, 1400px 201px #fff, 966px 66px #fff,
    1628px 524px #fff, 1580px 1615px #fff, 1423px 1670px #fff, 321px 1502px #fff,
    952px 662px #fff, 1453px 1889px #fff, 1258px 642px #fff, 816px 338px #fff,
    311px 285px #fff, 462px 1898px #fff, 1800px 238px #fff, 719px 1840px #fff,
    831px 1229px #fff, 163px 45px #fff, 152px 742px #fff, 1455px 403px #fff,
    338px 227px #fff, 1202px 1869px #fff, 556px 258px #fff, 731px 1068px #fff,
    1701px 919px #fff, 1401px 75px #fff, 1241px 1790px #fff, 396px 1011px #fff,
    997px 836px #fff, 1195px 1592px #fff, 991px 1274px #fff, 1574px 537px #fff,
    1381px 1622px #fff, 1979px 1352px #fff, 1927px 1530px #fff, 834px 93px #fff,
    1928px 325px #fff, 317px 1144px #fff, 116px 1087px #fff, 1838px 777px #fff,
    184px 1822px #fff, 110px 1877px #fff, 165px 131px #fff, 1866px 417px #fff,
    53px 1154px #fff, 1951px 531px #fff, 361px 130px #fff, 1294px 1262px #fff,
    1832px 1776px #fff, 506px 1169px #fff, 1685px 1356px #fff, 94px 1411px #fff,
    179px 547px #fff, 1785px 1393px #fff, 1515px 1483px #fff, 1576px 1930px #fff,
    433px 1325px #fff, 322px 83px #fff, 1815px 97px #fff, 72px 1289px #fff,
    646px 1437px #fff, 453px 1695px #fff, 1199px 931px #fff, 745px 674px #fff,
    480px 1171px #fff, 1185px 1897px #fff, 1606px 1395px #fff, 363px 1851px #fff,
    1091px 1235px #fff, 1833px 742px #fff, 1996px 749px #fff, 488px 564px #fff,
    1055px 692px #fff, 1256px 1122px #fff, 801px 1211px #fff, 1919px 795px #fff,
    58px 1511px #fff, 1460px 936px #fff, 998px 172px #fff, 1427px 911px #fff,
    1321px 1093px #fff, 1511px 101px #fff, 1312px 61px #fff, 1310px 192px #fff,
    764px 420px #fff, 1179px 782px #fff, 889px 725px #fff, 1281px 418px #fff,
    1512px 707px #fff, 1123px 757px #fff, 439px 1975px #fff, 980px 984px #fff,
    1441px 1064px #fff, 872px 1185px #fff, 814px 1807px #fff, 1630px 1845px #fff,
    845px 116px #fff, 603px 511px #fff, 1283px 485px #fff, 79px 69px #fff,
    1124px 1037px #fff, 105px 375px #fff, 1544px 906px #fff, 888px 489px #fff,
    1620px 1967px #fff, 86px 641px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1881px 1675px #fff, 1772px 99px #fff, 643px 584px #fff,
    451px 120px #fff, 1603px 970px #fff, 607px 193px #fff, 1657px 1273px #fff,
    5px 1749px #fff, 590px 61px #fff, 865px 591px #fff, 393px 791px #fff,
    796px 138px #fff, 1399px 1614px #fff, 992px 1386px #fff, 133px 894px #fff,
    541px 1703px #fff, 238px 1797px #fff, 116px 1542px #fff, 1091px 1624px #fff,
    1343px 1324px #fff, 1689px 634px #fff, 24px 1975px #fff, 1074px 1141px #fff,
    1316px 1719px #fff, 541px 529px #fff, 1640px 244px #fff, 1934px 1449px #fff,
    89px 1674px #fff, 1519px 635px #fff, 1030px 183px #fff, 753px 524px #fff,
    1304px 1616px #fff, 1836px 1025px #fff, 1952px 1180px #fff,
    1749px 1112px #fff, 471px 286px #fff, 1518px 432px #fff, 12px 250px #fff,
    855px 1092px #fff, 854px 1182px #fff, 920px 1342px #fff, 783px 1050px #fff,
    631px 1736px #fff, 1047px 418px #fff, 1905px 18px #fff, 988px 997px #fff,
    508px 1213px #fff, 1395px 824px #fff, 728px 236px #fff, 142px 148px #fff,
    1596px 1504px #fff, 1103px 475px #fff, 1928px 1376px #fff, 137px 27px #fff,
    1897px 292px #fff, 34px 1949px #fff, 1707px 952px #fff, 1090px 81px #fff,
    1316px 1725px #fff, 516px 1776px #fff, 896px 1740px #fff, 413px 1697px #fff,
    555px 1801px #fff, 152px 574px #fff, 717px 1681px #fff, 1984px 1885px #fff,
    1674px 154px #fff, 368px 1978px #fff, 1270px 204px #fff, 629px 998px #fff,
    1651px 1391px #fff, 1386px 949px #fff, 70px 1240px #fff, 1950px 971px #fff,
    783px 76px #fff, 507px 123px #fff, 1317px 668px #fff, 1328px 362px #fff,
    2000px 1861px #fff, 104px 251px #fff, 1910px 1473px #fff, 457px 74px #fff,
    1529px 239px #fff, 1053px 1623px #fff, 1963px 759px #fff, 1657px 1217px #fff,
    1843px 554px #fff, 1895px 2px #fff, 1648px 307px #fff, 1295px 404px #fff,
    1443px 228px #fff, 776px 1688px #fff, 1249px 1511px #fff, 774px 345px #fff,
    1261px 1439px #fff, 263px 1354px #fff, 1527px 1566px #fff, 1237px 842px #fff,
    1492px 664px #fff, 1399px 1401px #fff, 1978px 1124px #fff, 1103px 908px #fff,
    1066px 1353px #fff, 1000px 1119px #fff, 933px 54px #fff, 1005px 1327px #fff,
    908px 1088px #fff, 517px 1626px #fff, 690px 981px #fff, 1239px 1128px #fff,
    1849px 72px #fff, 257px 1905px #fff, 309px 1079px #fff, 307px 414px #fff,
    544px 1590px #fff, 1637px 1672px #fff, 1394px 699px #fff, 1725px 236px #fff,
    394px 997px #fff, 892px 1293px #fff, 1802px 1135px #fff, 119px 335px #fff,
    543px 1982px #fff, 1541px 1093px #fff, 1061px 714px #fff, 173px 1469px #fff,
    1588px 899px #fff, 344px 1742px #fff, 1498px 1014px #fff, 919px 989px #fff,
    297px 1367px #fff, 1780px 732px #fff, 383px 1299px #fff, 1937px 722px #fff,
    95px 559px #fff, 677px 335px #fff, 1510px 756px #fff, 99px 367px #fff,
    1331px 465px #fff, 256px 177px #fff, 352px 333px #fff, 273px 1791px #fff,
    1498px 630px #fff, 523px 1981px #fff, 438px 1644px #fff, 947px 1080px #fff,
    1064px 1221px #fff, 980px 326px #fff, 1587px 1168px #fff, 1843px 88px #fff,
    1121px 960px #fff, 900px 1101px #fff, 1398px 690px #fff, 985px 284px #fff,
    1851px 1732px #fff, 872px 1904px #fff, 133px 387px #fff, 1849px 1568px #fff,
    1609px 1543px #fff, 604px 448px #fff, 1851px 1637px #fff, 1976px 421px #fff,
    883px 1705px #fff, 359px 303px #fff, 87px 1374px #fff, 108px 499px #fff,
    1023px 1286px #fff, 198px 928px #fff, 1775px 625px #fff, 1861px 933px #fff,
    1196px 33px #fff, 1628px 1322px #fff, 904px 567px #fff, 1218px 1310px #fff,
    448px 781px #fff, 1228px 4px #fff, 788px 677px #fff, 1692px 1378px #fff,
    1639px 60px #fff, 1354px 1596px #fff, 502px 642px #fff, 1554px 106px #fff,
    376px 962px #fff, 1374px 1555px #fff, 1313px 478px #fff, 202px 1166px #fff,
    1606px 1173px #fff, 747px 655px #fff, 85px 1879px #fff, 33px 794px #fff,
    37px 1100px #fff, 1434px 1069px #fff, 108px 900px #fff, 1551px 549px #fff,
    1120px 573px #fff, 352px 1205px #fff, 835px 892px #fff, 1963px 1581px #fff,
    1769px 958px #fff, 231px 1667px #fff, 820px 743px #fff, 1686px 1601px #fff,
    260px 760px #fff, 1842px 1797px #fff, 715px 602px #fff, 1206px 51px #fff,
    1712px 970px #fff, 761px 1848px #fff, 1665px 1418px #fff, 1588px 609px #fff,
    891px 326px #fff, 554px 1242px #fff, 772px 1496px #fff, 1657px 1876px #fff,
    244px 1267px #fff, 1493px 1287px #fff, 1377px 1984px #fff, 931px 1413px #fff,
    754px 932px #fff, 145px 1608px #fff, 17px 171px #fff, 842px 393px #fff,
    722px 1819px #fff, 1535px 1387px #fff, 1902px 1347px #fff, 183px 1285px #fff,
    852px 1611px #fff, 1571px 1673px #fff, 1807px 503px #fff, 1257px 1350px #fff,
    1666px 561px #fff, 1128px 442px #fff, 824px 1733px #fff, 879px 536px #fff,
    320px 794px #fff, 55px 1548px #fff, 1592px 1672px #fff, 290px 820px #fff,
    1941px 1185px #fff, 1807px 745px #fff, 1137px 853px #fff, 1079px 700px #fff,
    484px 1173px #fff, 1975px 1751px #fff, 1347px 237px #fff, 1934px 389px #fff,
    1295px 1801px #fff, 1442px 654px #fff, 521px 1461px #fff, 466px 1596px #fff,
    772px 1758px #fff, 1267px 1613px #fff, 550px 1501px #fff, 41px 1732px #fff,
    21px 1893px #fff, 619px 7px #fff, 532px 1800px #fff, 1946px 1910px #fff,
    598px 319px #fff, 1346px 839px #fff, 241px 618px #fff, 94px 127px #fff,
    440px 250px #fff, 600px 1880px #fff, 630px 526px #fff, 1269px 1825px #fff,
    1749px 1847px #fff, 1997px 1928px #fff, 1103px 1759px #fff,
    1351px 1180px #fff, 608px 1814px #fff, 1900px 446px #fff, 1163px 1839px #fff,
    1864px 1086px #fff, 60px 292px #fff, 1893px 1618px #fff, 819px 876px #fff,
    1206px 64px #fff, 692px 1723px #fff, 1487px 375px #fff, 795px 1790px #fff,
    1100px 1576px #fff, 46px 1914px #fff, 812px 859px #fff, 1793px 537px #fff,
    307px 1720px #fff, 28px 1472px #fff, 454px 195px #fff, 1497px 1472px #fff,
    867px 257px #fff, 1852px 413px #fff, 788px 275px #fff, 392px 215px #fff,
    1000px 406px #fff, 835px 519px #fff, 1732px 96px #fff, 1706px 1223px #fff,
    1221px 985px #fff, 674px 847px #fff, 1777px 156px #fff, 1621px 577px #fff,
    208px 995px #fff, 1021px 328px #fff, 1921px 278px #fff, 519px 369px #fff,
    212px 656px #fff, 1877px 1217px #fff, 1728px 987px #fff, 1498px 1054px #fff,
    1898px 153px #fff, 1814px 1004px #fff, 172px 1948px #fff, 189px 934px #fff,
    1086px 999px #fff, 1192px 1888px #fff, 1348px 1450px #fff, 781px 1166px #fff,
    1567px 1201px #fff, 1586px 1388px #fff, 910px 345px #fff, 756px 567px #fff,
    734px 1668px #fff, 418px 954px #fff, 1511px 213px #fff, 1432px 901px #fff,
    1229px 1094px #fff, 1529px 1454px #fff, 788px 383px #fff, 1430px 465px #fff,
    1565px 58px #fff, 1125px 77px #fff, 151px 1966px #fff, 28px 1739px #fff,
    1357px 1030px #fff, 1720px 1652px #fff, 650px 977px #fff, 1972px 1496px #fff,
    1495px 1987px #fff, 215px 50px #fff, 1251px 108px #fff, 1713px 1652px #fff,
    1211px 1254px #fff, 1971px 372px #fff, 1516px 471px #fff, 774px 1064px #fff,
    1713px 379px #fff, 659px 1283px #fff, 1800px 899px #fff, 601px 666px #fff,
    1470px 738px #fff, 938px 1315px #fff, 1658px 794px #fff, 1837px 1687px #fff,
    20px 712px #fff, 1310px 1064px #fff, 809px 1889px #fff, 1022px 127px #fff,
    251px 936px #fff, 900px 533px #fff, 1279px 1709px #fff, 540px 1955px #fff,
    1822px 1481px #fff, 1694px 323px #fff, 292px 120px #fff, 1089px 1186px #fff,
    1860px 1137px #fff, 1644px 890px #fff, 534px 1473px #fff, 979px 1603px #fff,
    1791px 1768px #fff, 403px 1298px #fff, 1698px 441px #fff, 701px 1876px #fff,
    881px 1914px #fff, 990px 1423px #fff, 1416px 1143px #fff, 999px 1053px #fff,
    1770px 386px #fff, 1240px 1618px #fff, 1676px 1876px #fff,
    1778px 2000px #fff, 902px 1389px #fff, 558px 696px #fff, 1328px 233px #fff,
    83px 1254px #fff, 1704px 1375px #fff, 753px 1048px #fff, 690px 458px #fff,
    1396px 1740px #fff, 764px 1593px #fff, 1662px 1825px #fff,
    1818px 1694px #fff, 643px 609px #fff, 956px 1511px #fff, 370px 1605px #fff,
    792px 154px #fff, 836px 1228px #fff, 820px 1351px #fff, 631px 1564px #fff,
    895px 181px #fff, 954px 928px #fff, 960px 1922px #fff, 988px 1709px #fff,
    1154px 849px #fff, 1097px 111px #fff, 1826px 242px #fff, 1897px 39px #fff,
    1164px 1380px #fff, 1332px 1772px #fff, 243px 996px #fff, 1410px 524px #fff,
    1597px 1016px #fff, 882px 541px #fff, 34px 1539px #fff, 236px 1386px #fff,
    1390px 1984px #fff, 1238px 1453px #fff, 1049px 930px #fff, 1083px 2px #fff,
    1066px 1367px #fff, 556px 875px #fff, 891px 389px #fff, 1084px 1554px #fff,
    893px 1676px #fff, 175px 540px #fff, 1699px 1464px #fff, 675px 416px #fff,
    7px 1066px #fff, 708px 374px #fff, 1288px 1723px #fff, 22px 1642px #fff,
    1095px 639px #fff, 694px 416px #fff, 559px 666px #fff, 1484px 1393px #fff,
    1974px 1514px #fff, 650px 1335px #fff, 1811px 142px #fff, 1350px 843px #fff,
    1819px 312px #fff, 891px 100px #fff, 642px 1387px #fff, 459px 50px #fff,
    1759px 693px #fff, 1006px 1311px #fff, 394px 32px #fff, 98px 1878px #fff,
    1740px 1804px #fff, 69px 673px #fff, 415px 1338px #fff, 23px 598px #fff,
    1873px 794px #fff, 109px 176px #fff, 890px 395px #fff, 1627px 1078px #fff,
    592px 890px #fff, 825px 1624px #fff, 1478px 449px #fff, 1787px 1380px #fff,
    682px 1397px #fff, 18px 543px #fff, 1047px 853px #fff, 1364px 1043px #fff,
    291px 1112px #fff, 269px 1211px #fff, 1604px 1705px #fff, 1869px 723px #fff,
    666px 427px #fff, 318px 586px #fff, 215px 1480px #fff, 981px 556px #fff,
    648px 1338px #fff, 1463px 247px #fff, 909px 418px #fff, 469px 1486px #fff,
    1023px 935px #fff, 1628px 903px #fff, 456px 121px #fff, 1897px 883px #fff,
    828px 573px #fff, 1407px 1932px #fff, 1284px 1347px #fff, 38px 330px #fff,
    1979px 1916px #fff, 1311px 178px #fff, 1023px 1752px #fff,
    1234px 1105px #fff, 723px 1930px #fff, 210px 1703px #fff, 430px 842px #fff,
    540px 1634px #fff, 1593px 666px #fff, 1292px 1494px #fff, 292px 1225px #fff,
    326px 1587px #fff, 615px 426px #fff, 130px 1633px #fff, 1378px 1821px #fff,
    1460px 1169px #fff, 1292px 651px #fff, 188px 243px #fff, 1519px 856px #fff,
    758px 1344px #fff, 919px 1527px #fff, 1095px 1655px #fff, 310px 607px #fff,
    362px 1739px #fff, 1178px 79px #fff, 940px 677px #fff, 1414px 1925px #fff,
    1644px 1573px #fff, 1662px 1243px #fff, 339px 1981px #fff, 1961px 73px #fff,
    1500px 1915px #fff, 1117px 1596px #fff, 1401px 198px #fff, 731px 1977px #fff,
    1097px 1979px #fff, 817px 671px #fff, 1005px 264px #fff, 1080px 761px #fff,
    1050px 836px #fff, 1918px 508px #fff, 1737px 680px #fff, 560px 1356px #fff,
    1471px 223px #fff, 1297px 430px #fff, 974px 753px #fff, 246px 594px #fff,
    1069px 935px #fff, 1275px 1128px #fff, 1803px 18px #fff, 661px 1831px #fff,
    1663px 493px #fff, 1976px 1832px #fff, 1851px 1721px #fff, 77px 1286px #fff,
    1374px 483px #fff, 1108px 1618px #fff, 1225px 1719px #fff, 1573px 804px #fff,
    995px 299px #fff, 1962px 809px #fff, 1861px 419px #fff, 1704px 604px #fff,
    1000px 1538px #fff, 714px 258px #fff, 291px 1555px #fff, 1854px 1839px #fff,
    94px 1949px #fff, 1864px 913px #fff, 240px 791px #fff, 895px 588px #fff,
    1707px 471px #fff, 1783px 1036px #fff, 781px 1032px #fff, 509px 1166px #fff,
    1206px 440px #fff, 1309px 1501px #fff, 1400px 348px #fff, 319px 1950px #fff,
    371px 1449px #fff, 1851px 1274px #fff, 969px 1055px #fff, 82px 1390px #fff,
    826px 1980px #fff, 610px 570px #fff, 1537px 1292px #fff, 973px 1807px #fff,
    1895px 990px #fff, 1943px 1784px #fff, 1119px 458px #fff, 501px 1415px #fff,
    1244px 1349px #fff, 1499px 524px #fff, 1974px 1103px #fff, 169px 613px #fff,
    1572px 1925px #fff, 591px 1209px #fff, 820px 908px #fff, 214px 543px #fff,
    358px 63px #fff, 749px 1411px #fff, 1279px 495px #fff, 771px 293px #fff,
    870px 1964px #fff, 1719px 1929px #fff, 1468px 1104px #fff, 123px 1210px #fff,
    633px 429px #fff, 284px 715px #fff, 909px 740px #fff, 1932px 374px #fff,
    507px 537px #fff, 1211px 70px #fff, 1400px 201px #fff, 966px 66px #fff,
    1628px 524px #fff, 1580px 1615px #fff, 1423px 1670px #fff, 321px 1502px #fff,
    952px 662px #fff, 1453px 1889px #fff, 1258px 642px #fff, 816px 338px #fff,
    311px 285px #fff, 462px 1898px #fff, 1800px 238px #fff, 719px 1840px #fff,
    831px 1229px #fff, 163px 45px #fff, 152px 742px #fff, 1455px 403px #fff,
    338px 227px #fff, 1202px 1869px #fff, 556px 258px #fff, 731px 1068px #fff,
    1701px 919px #fff, 1401px 75px #fff, 1241px 1790px #fff, 396px 1011px #fff,
    997px 836px #fff, 1195px 1592px #fff, 991px 1274px #fff, 1574px 537px #fff,
    1381px 1622px #fff, 1979px 1352px #fff, 1927px 1530px #fff, 834px 93px #fff,
    1928px 325px #fff, 317px 1144px #fff, 116px 1087px #fff, 1838px 777px #fff,
    184px 1822px #fff, 110px 1877px #fff, 165px 131px #fff, 1866px 417px #fff,
    53px 1154px #fff, 1951px 531px #fff, 361px 130px #fff, 1294px 1262px #fff,
    1832px 1776px #fff, 506px 1169px #fff, 1685px 1356px #fff, 94px 1411px #fff,
    179px 547px #fff, 1785px 1393px #fff, 1515px 1483px #fff, 1576px 1930px #fff,
    433px 1325px #fff, 322px 83px #fff, 1815px 97px #fff, 72px 1289px #fff,
    646px 1437px #fff, 453px 1695px #fff, 1199px 931px #fff, 745px 674px #fff,
    480px 1171px #fff, 1185px 1897px #fff, 1606px 1395px #fff, 363px 1851px #fff,
    1091px 1235px #fff, 1833px 742px #fff, 1996px 749px #fff, 488px 564px #fff,
    1055px 692px #fff, 1256px 1122px #fff, 801px 1211px #fff, 1919px 795px #fff,
    58px 1511px #fff, 1460px 936px #fff, 998px 172px #fff, 1427px 911px #fff,
    1321px 1093px #fff, 1511px 101px #fff, 1312px 61px #fff, 1310px 192px #fff,
    764px 420px #fff, 1179px 782px #fff, 889px 725px #fff, 1281px 418px #fff,
    1512px 707px #fff, 1123px 757px #fff, 439px 1975px #fff, 980px 984px #fff,
    1441px 1064px #fff, 872px 1185px #fff, 814px 1807px #fff, 1630px 1845px #fff,
    845px 116px #fff, 603px 511px #fff, 1283px 485px #fff, 79px 69px #fff,
    1124px 1037px #fff, 105px 375px #fff, 1544px 906px #fff, 888px 489px #fff,
    1620px 1967px #fff, 86px 641px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 899px 220px #fff, 1677px 1416px #fff, 885px 1855px #fff,
    665px 766px #fff, 790px 320px #fff, 1149px 568px #fff, 1840px 373px #fff,
    165px 733px #fff, 1120px 763px #fff, 1545px 1993px #fff, 1607px 254px #fff,
    1177px 747px #fff, 1164px 961px #fff, 252px 963px #fff, 535px 164px #fff,
    87px 1409px #fff, 1514px 1042px #fff, 1130px 290px #fff, 1804px 1566px #fff,
    588px 1776px #fff, 422px 201px #fff, 696px 1221px #fff, 928px 1565px #fff,
    1099px 160px #fff, 671px 1702px #fff, 218px 23px #fff, 354px 1410px #fff,
    1276px 592px #fff, 146px 611px #fff, 1977px 1513px #fff, 574px 1803px #fff,
    1686px 1253px #fff, 1671px 1032px #fff, 1029px 1758px #fff,
    1308px 1788px #fff, 12px 1225px #fff, 577px 86px #fff, 1385px 704px #fff,
    1680px 1253px #fff, 1867px 1555px #fff, 795px 1018px #fff,
    1913px 1839px #fff, 1901px 743px #fff, 1420px 1827px #fff,
    1084px 1224px #fff, 1242px 173px #fff, 878px 765px #fff, 445px 972px #fff,
    1183px 1103px #fff, 420px 1806px #fff, 267px 1180px #fff, 1259px 1084px #fff,
    882px 1716px #fff, 777px 506px #fff, 1960px 975px #fff, 466px 297px #fff,
    1133px 955px #fff, 1683px 622px #fff, 785px 932px #fff, 297px 389px #fff,
    970px 1224px #fff, 1864px 393px #fff, 1314px 1757px #fff, 1763px 844px #fff,
    510px 646px #fff, 670px 1858px #fff, 679px 1714px #fff, 1048px 762px #fff,
    994px 1994px #fff, 1174px 1019px #fff, 1368px 1618px #fff, 397px 1637px #fff,
    1642px 1016px #fff, 466px 669px #fff, 1259px 1474px #fff, 576px 603px #fff,
    862px 1180px #fff, 1669px 1205px #fff, 1793px 145px #fff, 68px 28px #fff,
    762px 1135px #fff, 485px 307px #fff, 279px 325px #fff, 1300px 1473px #fff,
    799px 443px #fff, 919px 1554px #fff, 1042px 881px #fff, 155px 253px #fff,
    807px 934px #fff, 254px 1980px #fff, 1138px 1724px #fff, 1457px 1813px #fff,
    1975px 214px #fff, 191px 54px #fff, 291px 164px #fff, 1778px 1948px #fff,
    120px 100px #fff, 1617px 640px #fff, 1381px 1135px #fff, 944px 223px #fff,
    1315px 1237px #fff, 1160px 504px #fff, 1409px 1209px #fff, 1269px 320px #fff,
    55px 1405px #fff, 1020px 789px #fff, 1156px 593px #fff, 674px 882px #fff,
    1910px 1089px #fff, 1850px 675px #fff, 1237px 906px #fff, 1496px 1120px #fff,
    847px 1798px #fff, 57px 1278px #fff, 667px 1026px #fff, 1927px 1000px #fff,
    1044px 420px #fff, 535px 416px #fff, 462px 1103px #fff, 106px 219px #fff,
    1089px 1309px #fff, 1440px 551px #fff, 1120px 437px #fff, 926px 315px #fff,
    1899px 512px #fff, 516px 1918px #fff, 1753px 1924px #fff, 1424px 1418px #fff,
    1313px 386px #fff, 36px 605px #fff, 881px 607px #fff, 1134px 1356px #fff,
    1457px 1393px #fff, 362px 1288px #fff, 1924px 1062px #fff, 98px 1264px #fff,
    599px 1994px #fff, 637px 888px #fff, 1052px 1392px #fff, 566px 1149px #fff,
    1597px 590px #fff, 307px 1594px #fff, 1081px 383px #fff, 396px 380px #fff,
    1831px 1838px #fff, 175px 1438px #fff, 1407px 1988px #fff, 1807px 724px #fff,
    1959px 1387px #fff, 490px 1519px #fff, 1132px 211px #fff, 1862px 1041px #fff,
    1054px 1390px #fff, 1271px 1657px #fff, 244px 1077px #fff, 471px 551px #fff,
    674px 767px #fff, 1741px 1521px #fff, 283px 1206px #fff, 1898px 174px #fff,
    1084px 1710px #fff, 1620px 32px #fff, 1804px 1411px #fff, 1800px 1492px #fff,
    1536px 855px #fff, 1339px 65px #fff, 1456px 1008px #fff, 630px 1604px #fff,
    1836px 403px #fff, 815px 1253px #fff, 1149px 1687px #fff, 1133px 895px #fff,
    562px 488px #fff, 1327px 473px #fff, 1676px 499px #fff, 1468px 645px #fff,
    1941px 1004px #fff, 1149px 1079px #fff, 81px 411px #fff, 532px 1244px #fff,
    128px 486px #fff, 1132px 1924px #fff, 1543px 231px #fff, 263px 1065px #fff,
    1461px 100px #fff, 14px 1024px #fff, 1851px 1164px #fff, 780px 1451px #fff,
    1684px 1221px #fff, 1996px 1512px #fff, 946px 1484px #fff,
    1409px 1204px #fff, 1985px 338px #fff, 876px 1841px #fff, 1935px 749px #fff,
    1191px 1396px #fff, 1660px 398px #fff, 686px 1490px #fff, 73px 1693px #fff,
    316px 1164px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 899px 220px #fff, 1677px 1416px #fff, 885px 1855px #fff,
    665px 766px #fff, 790px 320px #fff, 1149px 568px #fff, 1840px 373px #fff,
    165px 733px #fff, 1120px 763px #fff, 1545px 1993px #fff, 1607px 254px #fff,
    1177px 747px #fff, 1164px 961px #fff, 252px 963px #fff, 535px 164px #fff,
    87px 1409px #fff, 1514px 1042px #fff, 1130px 290px #fff, 1804px 1566px #fff,
    588px 1776px #fff, 422px 201px #fff, 696px 1221px #fff, 928px 1565px #fff,
    1099px 160px #fff, 671px 1702px #fff, 218px 23px #fff, 354px 1410px #fff,
    1276px 592px #fff, 146px 611px #fff, 1977px 1513px #fff, 574px 1803px #fff,
    1686px 1253px #fff, 1671px 1032px #fff, 1029px 1758px #fff,
    1308px 1788px #fff, 12px 1225px #fff, 577px 86px #fff, 1385px 704px #fff,
    1680px 1253px #fff, 1867px 1555px #fff, 795px 1018px #fff,
    1913px 1839px #fff, 1901px 743px #fff, 1420px 1827px #fff,
    1084px 1224px #fff, 1242px 173px #fff, 878px 765px #fff, 445px 972px #fff,
    1183px 1103px #fff, 420px 1806px #fff, 267px 1180px #fff, 1259px 1084px #fff,
    882px 1716px #fff, 777px 506px #fff, 1960px 975px #fff, 466px 297px #fff,
    1133px 955px #fff, 1683px 622px #fff, 785px 932px #fff, 297px 389px #fff,
    970px 1224px #fff, 1864px 393px #fff, 1314px 1757px #fff, 1763px 844px #fff,
    510px 646px #fff, 670px 1858px #fff, 679px 1714px #fff, 1048px 762px #fff,
    994px 1994px #fff, 1174px 1019px #fff, 1368px 1618px #fff, 397px 1637px #fff,
    1642px 1016px #fff, 466px 669px #fff, 1259px 1474px #fff, 576px 603px #fff,
    862px 1180px #fff, 1669px 1205px #fff, 1793px 145px #fff, 68px 28px #fff,
    762px 1135px #fff, 485px 307px #fff, 279px 325px #fff, 1300px 1473px #fff,
    799px 443px #fff, 919px 1554px #fff, 1042px 881px #fff, 155px 253px #fff,
    807px 934px #fff, 254px 1980px #fff, 1138px 1724px #fff, 1457px 1813px #fff,
    1975px 214px #fff, 191px 54px #fff, 291px 164px #fff, 1778px 1948px #fff,
    120px 100px #fff, 1617px 640px #fff, 1381px 1135px #fff, 944px 223px #fff,
    1315px 1237px #fff, 1160px 504px #fff, 1409px 1209px #fff, 1269px 320px #fff,
    55px 1405px #fff, 1020px 789px #fff, 1156px 593px #fff, 674px 882px #fff,
    1910px 1089px #fff, 1850px 675px #fff, 1237px 906px #fff, 1496px 1120px #fff,
    847px 1798px #fff, 57px 1278px #fff, 667px 1026px #fff, 1927px 1000px #fff,
    1044px 420px #fff, 535px 416px #fff, 462px 1103px #fff, 106px 219px #fff,
    1089px 1309px #fff, 1440px 551px #fff, 1120px 437px #fff, 926px 315px #fff,
    1899px 512px #fff, 516px 1918px #fff, 1753px 1924px #fff, 1424px 1418px #fff,
    1313px 386px #fff, 36px 605px #fff, 881px 607px #fff, 1134px 1356px #fff,
    1457px 1393px #fff, 362px 1288px #fff, 1924px 1062px #fff, 98px 1264px #fff,
    599px 1994px #fff, 637px 888px #fff, 1052px 1392px #fff, 566px 1149px #fff,
    1597px 590px #fff, 307px 1594px #fff, 1081px 383px #fff, 396px 380px #fff,
    1831px 1838px #fff, 175px 1438px #fff, 1407px 1988px #fff, 1807px 724px #fff,
    1959px 1387px #fff, 490px 1519px #fff, 1132px 211px #fff, 1862px 1041px #fff,
    1054px 1390px #fff, 1271px 1657px #fff, 244px 1077px #fff, 471px 551px #fff,
    674px 767px #fff, 1741px 1521px #fff, 283px 1206px #fff, 1898px 174px #fff,
    1084px 1710px #fff, 1620px 32px #fff, 1804px 1411px #fff, 1800px 1492px #fff,
    1536px 855px #fff, 1339px 65px #fff, 1456px 1008px #fff, 630px 1604px #fff,
    1836px 403px #fff, 815px 1253px #fff, 1149px 1687px #fff, 1133px 895px #fff,
    562px 488px #fff, 1327px 473px #fff, 1676px 499px #fff, 1468px 645px #fff,
    1941px 1004px #fff, 1149px 1079px #fff, 81px 411px #fff, 532px 1244px #fff,
    128px 486px #fff, 1132px 1924px #fff, 1543px 231px #fff, 263px 1065px #fff,
    1461px 100px #fff, 14px 1024px #fff, 1851px 1164px #fff, 780px 1451px #fff,
    1684px 1221px #fff, 1996px 1512px #fff, 946px 1484px #fff,
    1409px 1204px #fff, 1985px 338px #fff, 876px 1841px #fff, 1935px 749px #fff,
    1191px 1396px #fff, 1660px 398px #fff, 686px 1490px #fff, 73px 1693px #fff,
    316px 1164px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1488px 996px #fff, 546px 1808px #fff, 1515px 1278px #fff,
    1651px 1006px #fff, 710px 240px #fff, 47px 423px #fff, 1327px 633px #fff,
    1983px 1546px #fff, 332px 1616px #fff, 1929px 1831px #fff, 787px 1548px #fff,
    1989px 696px #fff, 956px 1779px #fff, 1867px 1255px #fff, 1144px 651px #fff,
    73px 96px #fff, 21px 255px #fff, 1537px 463px #fff, 206px 170px #fff,
    115px 5px #fff, 15px 58px #fff, 1778px 669px #fff, 1336px 237px #fff,
    14px 1478px #fff, 939px 564px #fff, 462px 1630px #fff, 1283px 134px #fff,
    1561px 831px #fff, 802px 1589px #fff, 1430px 1940px #fff, 1330px 1382px #fff,
    1570px 548px #fff, 1533px 1962px #fff, 533px 1246px #fff, 1493px 1050px #fff,
    64px 489px #fff, 1928px 666px #fff, 11px 1438px #fff, 407px 734px #fff,
    246px 178px #fff, 1677px 771px #fff, 638px 565px #fff, 103px 764px #fff,
    1074px 1108px #fff, 1023px 557px #fff, 1840px 1982px #fff, 40px 1133px #fff,
    159px 219px #fff, 342px 179px #fff, 1545px 1228px #fff, 555px 1046px #fff,
    1884px 1073px #fff, 1622px 1355px #fff, 36px 1196px #fff, 682px 602px #fff,
    272px 1005px #fff, 1798px 1652px #fff, 1555px 1998px #fff, 578px 1615px #fff,
    42px 1419px #fff, 1966px 1536px #fff, 289px 1568px #fff, 1714px 1179px #fff,
    995px 465px #fff, 262px 230px #fff, 1543px 687px #fff, 1232px 354px #fff,
    62px 1167px #fff, 1845px 711px #fff, 44px 842px #fff, 1190px 922px #fff,
    940px 1885px #fff, 1571px 1304px #fff, 1845px 1354px #fff,
    1556px 1421px #fff, 336px 895px #fff, 1045px 1288px #fff, 162px 1277px #fff,
    2000px 879px #fff, 1847px 1395px #fff, 1753px 1184px #fff, 369px 284px #fff,
    536px 442px #fff, 678px 800px #fff, 196px 262px #fff, 1581px 568px #fff,
    381px 1166px #fff, 1229px 1184px #fff, 546px 1307px #fff, 1062px 1934px #fff,
    1414px 825px #fff, 1728px 1762px #fff, 1448px 1054px #fff,
    1438px 1495px #fff, 1042px 142px #fff, 1268px 1237px #fff, 753px 717px #fff,
    830px 1346px #fff, 1034px 856px #fff, 815px 1584px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1488px 996px #fff, 546px 1808px #fff, 1515px 1278px #fff,
    1651px 1006px #fff, 710px 240px #fff, 47px 423px #fff, 1327px 633px #fff,
    1983px 1546px #fff, 332px 1616px #fff, 1929px 1831px #fff, 787px 1548px #fff,
    1989px 696px #fff, 956px 1779px #fff, 1867px 1255px #fff, 1144px 651px #fff,
    73px 96px #fff, 21px 255px #fff, 1537px 463px #fff, 206px 170px #fff,
    115px 5px #fff, 15px 58px #fff, 1778px 669px #fff, 1336px 237px #fff,
    14px 1478px #fff, 939px 564px #fff, 462px 1630px #fff, 1283px 134px #fff,
    1561px 831px #fff, 802px 1589px #fff, 1430px 1940px #fff, 1330px 1382px #fff,
    1570px 548px #fff, 1533px 1962px #fff, 533px 1246px #fff, 1493px 1050px #fff,
    64px 489px #fff, 1928px 666px #fff, 11px 1438px #fff, 407px 734px #fff,
    246px 178px #fff, 1677px 771px #fff, 638px 565px #fff, 103px 764px #fff,
    1074px 1108px #fff, 1023px 557px #fff, 1840px 1982px #fff, 40px 1133px #fff,
    159px 219px #fff, 342px 179px #fff, 1545px 1228px #fff, 555px 1046px #fff,
    1884px 1073px #fff, 1622px 1355px #fff, 36px 1196px #fff, 682px 602px #fff,
    272px 1005px #fff, 1798px 1652px #fff, 1555px 1998px #fff, 578px 1615px #fff,
    42px 1419px #fff, 1966px 1536px #fff, 289px 1568px #fff, 1714px 1179px #fff,
    995px 465px #fff, 262px 230px #fff, 1543px 687px #fff, 1232px 354px #fff,
    62px 1167px #fff, 1845px 711px #fff, 44px 842px #fff, 1190px 922px #fff,
    940px 1885px #fff, 1571px 1304px #fff, 1845px 1354px #fff,
    1556px 1421px #fff, 336px 895px #fff, 1045px 1288px #fff, 162px 1277px #fff,
    2000px 879px #fff, 1847px 1395px #fff, 1753px 1184px #fff, 369px 284px #fff,
    536px 442px #fff, 678px 800px #fff, 196px 262px #fff, 1581px 568px #fff,
    381px 1166px #fff, 1229px 1184px #fff, 546px 1307px #fff, 1062px 1934px #fff,
    1414px 825px #fff, 1728px 1762px #fff, 1448px 1054px #fff,
    1438px 1495px #fff, 1042px 142px #fff, 1268px 1237px #fff, 753px 717px #fff,
    830px 1346px #fff, 1034px 856px #fff, 815px 1584px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
